.box-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}
table th,td{
    text-align: center;
}
.header{
    margin: 10px 15px;
    border: 2px solid black;
}
button {
    background-color: white;
    border-style: none;
    padding: 10px 50px;
    border: 2px solid black
}
button:hover{
    background-color: #80A3FF;

}
.buttonCOntainer{
    margin-top: 15px;
    
}
.buttonCOntainer{
    margin-top: 15px;
    
}.buttonCOntainer>button{
    margin-left: 15px;
}
.box-child {
    text-align: center;

}

.active {
    background-color: red;
}

.box {
    border: 2px solid black;
    height: 150px;
}

.coustom {
    background-color: #80A3FF;

}
@media only screen and (max-width: 600px) {
    .box-container {
        display: grid;
        grid-template-columns: auto ;
        column-gap: 10px;
        row-gap: 10px;
    }
    button {
      margin-bottom: 15px;
    }
   .buttonCOntainer>button{
    margin-top: 15px 0px;
   }
  }